#form{
	background: beige;
	width: 25%;
	margin: 120px auto;
	padding: 50px;
	border-radius: 6px;
}

#table{
	background: beige;
	width: 25%;
	margin: 120px auto;
	padding: 50px;
	border-radius: 6px;
}